
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.grid > .grid-cell {
  display: flex;
  flex-basis: 1;
  flex-shrink: 0;
  flex-grow: 0;
  align-content: stretch;
  align-items: stretch;
  width: calc(100vw/8);
  height: calc(100vh/8);
  cursor: pointer;
  transition: all 1s;
}

.grid-cell div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.grid-cell.grid-cell-updated div {
  border: 4px solid transparent;
}
